// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.step {
  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 0px;
  }

  &.step-past {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &.step-disabled {
    opacity: 0.4;
  }
}

.json-container {
  width: 50%;
  max-width: 500px;
  margin: 0px auto;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  max-height: 100px;
  word-break: break-all;

  &.full-height {
    max-height: none;
  }
}

.svg-preview {
  text-align: center;

  & > * {
    width: 100%;
    margin-bottom: 1em;
  }

  .preview {
    width: 50%;
    max-width: 300px;
    margin: 0px auto;
  }
}
